<div class="flex flex-col w-screen">
    <div class="flex dark:text-gray-300 text-center text-md md:text-lg w-full bg-white dark:bg-black ">
        <a href="/" class="nav-link flex-grow hover:text-teal-400 hover:border-teal-500 p-5">All Posts</a>
        <a href="{% url 'post:following' %}" class="nav-link flex-grow hover:text-teal-400 hover:border-teal-500  p-5">Following</a>
    </div>
    <div class="post-container">
        {% for post in posts %}
            {% include 'includes/post.html' with post=post show_link=True %}
        {% endfor%}
    </div>
</div>