{% load thumbnail %}

<!-- component -->
<!-- class="flex items-center xs:w-[85%] shadow-xl w-full sm:w-[60%] mx-auto bg-white my-20 md:my-0 dark:bg-gray-900 rounded-3xl" -->
<div class="post-detail w-[90%] bg-white shadow-lg dark:bg-gray-800 dark:border-gray-800 p-4 py-5 px-5 my-10 rounded-xl border mx-auto overflow-hidden" data-url="{% url 'post:detail' post.id %}" data-show="{{show_link}}">
    <div class="flex justify-between">
        <a class="flex items-center" href="{% url 'profiles:detail' post.author.username %}">
            {% thumbnail post.author.profile.image "373x373" crop="center" as im %}
                <img class="h-11 w-11 rounded-full" src="{{im.url}}"/>
            {% endthumbnail %}
            <div class="ml-1.5 text-sm leading-tight">
                <span class="text-black dark:text-white font-bold block ">{{post.author.username}}</span>
                <span class="text-gray-500 dark:text-gray-400 font-normal block">@{{post.author.username}}</span>
            </div>
        </a>
        <svg class="text-blue-400 dark:text-white h-6 w-auto inline-block fill-current" viewBox="0 0 24 24">
            <g>
                <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">                    
                </path>
            </g>
        </svg>
    </div>
    <div class="border-gray-200 dark:border-gray-600 border border-b-0 my-2"></div>
    <p class="text-black dark:text-white block text-xl leading-snug my-6 break-words">{{post.text}}</p>
    <div>
        {% if post.image %}
            {% thumbnail post.image "200x200" crop="center" as im %}
                <img class="my-4 rounded-2xl border w-full h-auto border-gray-100 shadow-md dark:border-gray-700 object-cover" src="{{im.url}}"/>
            {% endthumbnail %}
        {% endif %}
    </div>
    <div class="border-gray-200 dark:border-gray-600 border border-b-0 my-1"></div>
    <p class="text-gray-500 dark:text-gray-400 text-base py-1 my-4">{{post.date|date:"F j, Y, g:i a" }}</p>
</div>